<style>
     .scrollable-container {
      height: 80vh; /* 80% of the viewport height */
      overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
      /*border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
      padding: 10px; /* Optional: Add padding for content inside the container */
    }
    .btn-color {
        background: linear-gradient(0deg, #252C58, #252C58),
              ;
    }

</style>

<div class="alert alert-warning" role="alert" id="sendalert" hidden="true">
                    Adding Category..
</div>

<div class="alert alert-danger" role="alert" id="erralert" hidden="true">
                    Error..
</div>

<div class="alert alert-success" role="alert" id="successalert" hidden="true">
                    Category Added..
</div>

<div class="alert alert-success" role="alert" id="catalert" hidden="true">
                                        Category Updated..
</div>

<div id="sendalertDelete" hidden>Sending request...</div>
<div id="successalertDelete" hidden>Category deleted successfully!</div>
<div id="erroralertDelete" hidden>Error deleting category. Please try again.</div>

<nav class="navbar navbar-light justify-content-between">
    <div class="container-fluid d-flex justify-content-center">
        <select class="form-control" style="width: 300px;" id="eventSelect">
            <option value="none">Choose Option</option>
           <option value="event"> Award List</option>
            <option value="2ndevent">M.S Subbulakshmi Music Festival</option>
</select> 
        
        {{!-- &nbsp;<button class="btn btn-outline-success">Search</button> --}}
        &nbsp; &nbsp; &nbsp; 

        <input class="form-control me-2" type="search" placeholder="Search by event" aria-label="Search" name="search" id="searchInput" onchange="searchTable()" id="search" autofocus style="width: 150px;">
        &nbsp;<button class="btn btn-dark" onclick="searchTable()"><i class="bi-search"></i></button> 
       
        {{!-- &nbsp;<button class="btn btn-outline-success">Search</button> --}}
        &nbsp; &nbsp; &nbsp; 
        {{#if event}}
        <button id="addRowBtn" class="btn btn-dark" style="color:white">
            <i class="fs-4 bi-plus-lg"></i><span class="ms-1 d-none d-sm-inline">&nbsp;Add new Data </span>
        </button>
        {{/if}}
    </div>
</nav>


<script>
function searchTable() {
    var input, filter, table, tbody, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = new RegExp(input.value, 'i'); // Case-insensitive regex
    table = document.getElementById("tableBody");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2]; // Index 2 corresponds to the "Name" column
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.match(filter)) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>

<script>
  // Get the select element
  const eventSelect = document.getElementById('eventSelect');

  // Add an event listener for the change event
  eventSelect.addEventListener('change', function() {
    // Get the selected value
    const selectedValue = eventSelect.value;

    // Check if the selected value is "event" (Award List)
    if (selectedValue === '2ndevent') {
      // Redirect to /calendar
      window.location.href = '/award2';
    }
    else{
        window.location.href = '/awards?name='+selectedValue;
    }
  });
</script>



<!--dummy elements over-->

<div class="container scrollable-container">
    <div class="table-responsive-sm">
        <center>
  <form action="/addaward" method="post">
    <table class="table  table-light table-hover" style="width: 90%;">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
                <th scope="col">Event</th>
                <th scope="col">Awardee</th>
                <th scope="col">Award Name</th>

            </tr>
        </thead>
        
        <tbody id="tableBody">
            {{#each data}}
            {{#each this}}
            {{#if this.event}}
            <tr id="{{this.event}}">
                
              
                <td>
                    {{this.date}}
                </td>
                <td>
                    {{this.venue}}
                </td>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.awardee}}
                </td>
                <td>
                     {{this.awardName}}
                </td>
            {{/if}}
            {{/each}}
            </tr>
            {{/each}}
            
            <input type="text" name="event" id="event" hidden value="{{event}}">
        </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
    </center>
    </center>
    </div>
</div>

<hr>
<script>
  // Function to add a new row to the table
  function addRow() {
    // Create a new row
    const newRow = document.createElement('tr');

    // Create input elements for each cell
    const dateInput = document.createElement('input');
    dateInput.type = 'date';
    dateInput.name = "date";
    dateInput.placeholder = "date";
    dateInput.className = 'form-control';
    const venueInput = document.createElement('input');
    venueInput.type = 'text';
    venueInput.name = "venue";
    venueInput.placeholder = "Venue"
    venueInput.className = 'form-control';
    const nameInput = document.createElement('input');
    nameInput.type = 'text';
    nameInput.name = "name";
    nameInput.placeholder = "name"
    nameInput.className = 'form-control';
    const awardeeInput = document.createElement('input');
    awardeeInput.type = 'text';
    awardeeInput.name = "awardee"
    awardeeInput.placeholder = "Awardee"
    awardeeInput.className = 'form-control';
    const awardnameInput = document.createElement('input');
    awardnameInput.type = 'text';
    awardnameInput.name = "awardname";
    awardnameInput.placeholder = "Award name"
    awardnameInput.className = 'form-control';

    // Append input elements to the cells
    newRow.innerHTML = `
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    `;
    newRow.children[0].appendChild(dateInput);
    newRow.children[1].appendChild(venueInput);
    newRow.children[2].appendChild(nameInput);
    newRow.children[3].appendChild(awardeeInput);
    newRow.children[4].appendChild(awardnameInput);

    // Append the new row to the table body
    document.getElementById('tableBody').appendChild(newRow);
  }

  // Add event listener to the button
  document.getElementById('addRowBtn').addEventListener('click', addRow);
</script>


<script>
    names = []
    const relation = new Map();
    datamap = []
{{#each data}}
{{#each this}}
{{#if this.name}}
names.push(document.getElementById({{@../index}}).value);
c = document.getElementById({{@../index}}).value;
d = {
    name : document.getElementById("category"+c).value,
    regional : document.getElementById("regional"+c).value,
    status : document.getElementById("active"+c).value,
}
datamap.push(d);
//there is an error that this.name can't be assigned directly to names array so the above code is a fix to this, 
//follow the method for storing data
{{/if}}
{{/each}}
{{/each}}
//console.log(names);


function Search()
{
    pattern = document.getElementById("search").value;
    pattern = pattern.toLowerCase();
    console.log(pattern)
    if(pattern==""){
         for(i=0;i<names.length;i++)
        {
            document.getElementById(names[i]).hidden = false;
        }
    }
    else{
    for(i=0;i<names.length;i++)
    {
        text  = names[i].toLowerCase();
        console.log(text.includes(pattern));
        if(text.includes(pattern)==false)
        {
            console.log(names[i])
            document.getElementById(names[i]).hidden = true;
        }
        else{
            document.getElementById(names[i]).hidden = false;
        }
    }
    }
}

</script>